.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  border: 1px solid white;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-face-front {
  background-color: transparent;
}

.card-face-back {
  transform: rotateY(180deg);
  background-size: cover;
}

.card:hover {
  cursor: pointer;
  border: 1px solid aqua;
}

.cardH {
  display: none;
}
